################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cplusplus-app/FileContentIndex
/.vs/cplusplus-app/v17
